<section id="new-scene-page" class="columns is-centered section">
  <div class="column is-one-third">
    <h1 class="title">New Scene</h1>
    <%= render "form", scene: @scene %>
    <%= link_to "Back to scenes", scenes_path, class: "button mt-2" %>
  </div>
</section>
